In [47]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:62% !important; }</style>"))

# 반복문
---
- 어떤 코드를 반복해서 실행하는 경우.
- for문, while문 {서로 호환 불가}
 
- for 변수 in 군집형 데이터 (문자열(str),list,set,dict,tuple): ex
    실행코드
    실행코드
    실행코드
    실행코드 
    반복
---
1. 원소가 하나 나와서 임시변수에 할당되고, 변수가 실행코드로 들어가서 실행코드가 실행
2. 다음원소가 하나 나와서 임시변수에 할당되고, 변수가 실행코드로 들어가서 실행코드가 실행
3. 그다음 원소가 하나 나와서 임시변수가 할당되고, 변수가 실행코드로 들어가서 실행코드가 실행 
4. 계속 반복
5. 원소가 모두나오면 반복문은 정지
---

###  for문
---

In [5]:
L = ['가위', '바위', '보', '가위', '바위']

for a in L:
     print(a)

가위
바위
보
가위
바위

In [12]:
st = "hello python"

for a in st:
    print(a, end=' ,') #print(a, 하고 뒤에 옵션 넣으면 가로정렬 ex print(a, end=',')

h ,e ,l ,l ,o ,  ,p ,y ,t ,h ,o ,n ,

In [1]:
s = {'a','b','d','f'}

for a in s:
    print(a, end=',')

d,b,a,f,

In [35]:
t = ('가','나')

for a in t:
    print(a, end='')

가나

In [37]:
d = {'eng':8, 'math':5, 'kor':7}

for a in d:
    print(a, end='/')

end/math/kor/

In [36]:
d.values()

dict_values([8, 5, 7])

In [23]:
d = {'eng':8, 'math':5, 'kor':7}

for a in d.values():
    print(a ,end='/')

8/5/7/

In [26]:
d.items()

dict_items([('end', 8), ('math', 5), ('kor', 7)])

In [24]:
d = {'eng':8, 'math':5, 'kor':7}

for a in d.items():
    print(a ,end='/')

('end', 8)/('math', 5)/('kor', 7)/

In [30]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
for i in range(10):
    print(i, end=' ,')

0 ,1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [16]:
d = {'eng':85, 'math':75, 'kor':77}

for a in d.items():   # for문 끝에 : 붙이기 , 실행코드는 들여쓰기 잘맞아야.
    sub = a[0]   # 과목    
                         # => #따로뺴줌
    score = a[1]  # 점수   
    print(sub, ':' , score)

eng : 85
math : 75
kor : 77

In [8]:
names = ['철수','영희','바둑이','귀도']

# 1번 : 철수
# 2번 : 영희
# 3번 : 바둑이
# 4번 : 귀도

for i in [1,2,3,4]:
    nam = names[i-1]
    print(i,'번 :', nam)

1 번 : 철수
2 번 : 영희
3 번 : 바둑이
4 번 : 귀도

In [64]:
names = ['철수','영희','바둑이','귀도']

# 1번 : 철수
# 2번 : 영희
# 3번 : 바둑이
# 4번 : 귀도

for i in range(len(names)):
    nam = names[i]
    print(i+1,'번 :', nam)

1 번 : 철수
2 번 : 영희
3 번 : 바둑이
4 번 : 귀도

In [70]:
names = ['철수','영희','바둑이','귀도','경아','민수','병철','순이','성호','성배']

for i in range(10):
    nam = names[i]
    print(i+1 ,'번 :', nam ,end='')

1 번 : 철수2 번 : 영희3 번 : 바둑이4 번 : 귀도5 번 : 경아6 번 : 민수7 번 : 병철8 번 : 순이9 번 : 성호10 번 : 성배

In [19]:
names = ['철수','영희','바둑이','귀도','경아','민수','병철','순이','성호','덕배']


for a in range(len(names)):
    nam = names[a]
    print(a+1 ,'번 :' , nam)

1 번 : 철수
2 번 : 영희
3 번 : 바둑이
4 번 : 귀도
5 번 : 경아
6 번 : 민수
7 번 : 병철
8 번 : 순이
9 번 : 성호
10 번 : 덕배

In [34]:
# 'python'을  대문자로 바꾸어서 한글자씩 세로로 출력하시오.
text = 'hello python'

for c in 'python':
    print(c.upper(), end=' ')

P Y T H O N

In [3]:
# 'hello python'에서 모음만 대문자로 변환해서 출력하시오. (영문자 모음 : aeiou)

text= 'hello python'
vow = 'aeiou'

for c in text:
    if c in vow:
         print(c.upper(), end='')  
    else:
         print(c, end='')

hEllO pythOn

In [ ]:
# 'hello python'에서 모음만 리스트에 담으시오. (영문자 모음 : aeiou)

In [10]:
text= 'hello python'
vow = 'aeiou'
L = []

for c in text:
    if c in vow:
        L.append(c)
L

['e', 'o', 'o']

In [19]:
# 'hello python'에서 짝수인덱스 문자만 리스트에 담으시오.
text= 'hello python'
L = []

for c in text[0:20:2]:
        L.append(c)
L

['h', 'l', 'o', 'p', 't', 'o']

In [13]:
text= 'hello python'
L = []

for i in range(len(text)):
    if i%2 == 0:
        L.append(text[i])
L

['h', 'l', 'o', 'p', 't', 'o']

In [16]:
# 참고

names = ['철수', '영희', '바둑이','귀도']

for i,j in enumerate(names):
    print(i+1,'번',':',j)

1 번 : 철수
2 번 : 영희
3 번 : 바둑이
4 번 : 귀도

In [1]:
# 1번부터 100번까지의 합을 구하시오.

total = 0

for i in range(101):
    total += i
total

5050

In [ ]:
# 1부터 50까지 짝수의 합을 구하시오

In [20]:
total = 0

for i in range(0,51,2): #(0,2,4,6,8....50)
    total += i #해석하면 total=total+i
total

650

In [22]:
total = 0

for i in range(51):
    if i%2 == 0:  
        total += i 
total

650

In [20]:
text = """
제11호 태풍 '힌남노'의 영향으로 폭우가 쏟아져 도심 곳곳이 침수된 경북 포항에서 실종 신고가 이어지고 있다.

6일 포항시에 따르면 이날 오전 9시 10분께 포항시 남구 인덕동 한 아파트 지하 주차장에 차를 빼러 갔는데 연락이 되지 않는다는 신고가 들어와 소방당국이 수색 작업을 하고 있다.

포항시는 7명이 실종돼 물을 빼며 수색을 하고 있다고 밝혔다. 이 아파트 지하 주차장은 폭우로 침수됐고, 소방당국은 배수 작업을 하고 있다.
"""

#개별 음절들의 문자열 길이를 출력하시오.

# 단어 : 음절의 문자열 길이

for c in text.split():
    print(c, ':', len(c))

제11호 : 4
태풍 : 2
'힌남노'의 : 6
영향으로 : 4
폭우가 : 3
쏟아져 : 3
도심 : 2
곳곳이 : 3
침수된 : 3
경북 : 2
포항에서 : 4
실종 : 2
신고가 : 3
이어지고 : 4
있다. : 3
6일 : 2
포항시에 : 4
따르면 : 3
이날 : 2
오전 : 2
9시 : 2
10분께 : 4
포항시 : 3
남구 : 2
인덕동 : 3
한 : 1
아파트 : 3
지하 : 2
주차장에 : 4
차를 : 2
빼러 : 2
갔는데 : 3
연락이 : 3
되지 : 2
않는다는 : 4
신고가 : 3
들어와 : 3
소방당국이 : 5
수색 : 2
작업을 : 3
하고 : 2
있다. : 3
포항시는 : 4
7명이 : 3
실종돼 : 3
물을 : 2
빼며 : 2
수색을 : 3
하고 : 2
있다고 : 3
밝혔다. : 4
이 : 1
아파트 : 3
지하 : 2
주차장은 : 4
폭우로 : 3
침수됐고, : 5
소방당국은 : 5
배수 : 2
작업을 : 3
하고 : 2
있다. : 3

In [52]:
# 위의 두개의 리스트의 원소를 같은 인덱스의 원소끼리 튜플로 묶어서 리스트에 저장
# => [('가','a'), ('나','b'), ('다','c'), ('라','d')]

L1 = ['가','나','다','라']
L2 = ['a','b','c','d']
L3 = []

for i in range(len(L1)):
     L3.append((L1[i], L2[i]))
L3

[('가', 'a'), ('나', 'b'), ('다', 'c'), ('라', 'd')]

In [1]:
# 반복문을 통해서 국어,영어,수학 점수를 순차적으로 입력받은후 그 평균을 구하기
total = 0
i = 0          # 0 = 초기화

for s in ['국어', '영어', '수학']:
    i += 1
    score = int(input('{}점수를 입력하세요'.format(s)))
    total += score
    
total/i

국어점수를 입력하세요90
영어점수를 입력하세요50
수학점수를 입력하세요80

73.33333333333333

In [3]:
# 1번부터 100번까지의 합을 구하시오. #참고

print('1부터 n까지 정수의 합을 구합니다.')
x = int(input('x값을 입력하세요 : '))

sum = 0 #sum 초기화

for i in range(1, x+1):
    sum += i # 해석하면 sum=sum+i

print(f'1부터 {x}까지의 정수의 합은 {sum} 입니다.')

1부터 n까지 정수의 합을 구합니다.
x값을 입력하세요 : 50
1부터 50까지의 정수의 합은 1275 입니다.

## List Comprehension - for문 간편형태
---
- [실행코드 for 변수 in sequence]
- list 내에서 for문을 실행하고 결과는 list에 담긴다.
- 실행속도도 일반 for문의 비해서 빠르다.
---

In [4]:
L = []

for i in range(10):
    L.append(i)
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
[i for i in range(10)]  # List Comprehension

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
L = []

for i in range(10):
    if i%2==0:   # 
        L.append(i)
L

[0, 2, 4, 6, 8]

In [8]:
[i for i in range(10) if i%2==0] #if문은 for문 뒤쪽에 붙는다.

[0, 2, 4, 6, 8]

In [18]:
L1 = ['가','나','다','라']
L2 = ['a','b','c','d']
L3 = []

# 두 리스트의 모든 원소간의 튜플조합을 리스트에 담으시오.
# -> 2중 for문 사용
# [('가','a'), ('가','b'), ('가','c')...('라','d'),'라','d']

for i in L1:
    for j in L2:
        L3.append((i,j))
print(L3)

[('가', 'a'), ('가', 'b'), ('가', 'c'), ('가', 'd'), ('나', 'a'), ('나', 'b'), ('나', 'c'), ('나', 'd'), ('다', 'a'), ('다', 'b'), ('다', 'c'), ('다', 'd'), ('라', 'a'), ('라', 'b'), ('라', 'c'), ('라', 'd')]

In [21]:
L1 = ['피터파커','브루스웨인','토니스타크']
L2 = ['타노스','조커','그린고블린']
L3 = []

for i in L1:
    for j in L2:
        L3.append((i,j))
print(L3)

[('피터파커', '타노스'), ('피터파커', '조커'), ('피터파커', '그린고블린'), ('브루스웨인', '타노스'), ('브루스웨인', '조커'), ('브루스웨인', '그린고블린'), ('토니스타크', '타노스'), ('토니스타크', '조커'), ('토니스타크', '그린고블린')]

In [34]:
# 위 코드를 List Comprehension으로 작성 하시오
L1 = ['피터파커','브루스웨인','토니스타크']
L2 = ['타노스','조커','그린고블린']

[(i,j,)for i in L1 for j in L2]

[('피터파커', '타노스'),
 ('피터파커', '조커'),
 ('피터파커', '그린고블린'),
 ('브루스웨인', '타노스'),
 ('브루스웨인', '조커'),
 ('브루스웨인', '그린고블린'),
 ('토니스타크', '타노스'),
 ('토니스타크', '조커'),
 ('토니스타크', '그린고블린')]

---
## while구문

- while 조건식:
-       실행코드1
-       실행코드2
-       실행코드3

1. 조건식이 True이면 실행코드를 반복하고, 조건식이 false인경우 반복을 중지.
2. 조건식이 계속 True이면 while문이 계속 실행되는 무한루프에 빠지니까 주의!
---

In [38]:
# 1부터 10까지합을 구하시오.(for문일때)

total = 0
for i in range(11):
     total += i
total

55

In [64]:
# 1부터 10까지합을 구하시오.(while문)

i = 0
total = 0

while i < 11:
    total += i
    i += 1 # 빼먹으면 무한루프에 빠짐

total

55

In [90]:
# 1부터 10까지 홀수의 합을 while문을 통해서구하시오.

i = 1
total = 0


while i < 11:
    if i%2 != 0:
        total += i              #해석하면 total=total+i
    i += 2

total

25

In [8]:
# 'hello python'에서 모음만 리스트에 담으세요
text = 'hello python'
L = []
for c in text:
    if c in 'aeiou':
        L.append(c)
L

#  List Comprehension 으로 구현하시오.

# while 문으로 구현하시오.

['e', 'o', 'o']

In [ ]:
text = 'hello python'    #  List Comprehension
[i for i in text if i in 'aeiou' ]

In [9]:
L = []                  #  <= for문 (훨씬더 간편하지만 상황에따라 while문을 사용하거나 편할때도 있음)
for c in text:
    if c in 'aeiou':
        L.append(c)
L

['e', 'o', 'o']

In [104]:
text = 'hello python' # while 문
i = 0
L = []

while i < len(text):
  
    c = text[i]
       
    if c in 'aeiou':
        L.append(c)
    i += 1 
L

['e', 'o', 'o']

In [ ]:
# 반복문에서 사용되는 break, continue
- 반복문에서 break => 반복을 중단하고 반복문을 빠져나간다.
- 반복문에서 continue => 아래쪽 코드를 실행하지 않고 반복문 처음으로 돌아간다.

In [1]:
i = 0
while i <= 10:
    i += 1        # i 가 11이 되면 i <= 10이 false가 되어 while문을 빠져나온다
    if i>7:       # i가 8이 되면 if문이 참이되고, continue가 실행되어 아래 print(값)를 건너뛴다
        continue  # continue를 만나면 밑의 코드를 실행하지 않고 처음으로 간다.
    print(i, end='. ')

1. 2. 3. 4. 5. 6. 7.

In [10]:
i = 0
while i <= 10:        # 반복문은 i가 8일 때까지만 반복하고 중단됨.
    i += 1        
    if i>7:           # i가 8이 되면 if문이 참(True) 이되고, break가 반복문을 종료시킨다.
        break         # reak를 만나면 반복문이 종료
    print(i, end='. ')

1. 2. 3. 4. 5. 6. 7.

In [29]:
# 1 부터 10까지 반복하는 while문을 만들고, continue와 break를 이용해서 3,4,5,6만 출력하고 
# 반복문을 빠져 나오도록 하시오.
i = 0

while i <= 10:        
    i += 1        
   
    if i < 3:           
        continue
    if i > 6:
        break
    print(i, end=' / ')

3 / 4 / 5 / 6 /

In [2]:
# while문을 이용해서 점수를 5회 입력받은 후 점수의 평균을 출력하시오.

total = 0
i = 0

while i < 5:
    score =int(input('점수를 입력하세요.'))
    total += score
    i += 1
    
total/i

점수를 입력하세요.50
점수를 입력하세요.60
점수를 입력하세요.5
점수를 입력하세요.6
점수를 입력하세요.1

24.4

In [12]:
# 반복문을 이용해서 'red'의 평균값을 구하시오.
L=[('red',5), ('blue',4), ('yellow',9), ('blue',4), ('red',8), ('yellow',3), ('red',1), ('blue',8)]

total_score= 0
count = 0

for i in L:
    if i[0] == 'red':
        total_score += i[1]
        count += 1
total_score/count

4.666666666666667

In [24]:
# value가 가장 큰 key는 어느 것인가?


for t in L:
    print(t, end=' ')  #빠르게

('red', 5) ('blue', 4) ('yellow', 9) ('blue', 4) ('red', 8) ('yellow', 3) ('red', 1) ('blue', 8)

In [26]:
import numpy as np # 넘파이 함수 사용

key_list =[]
val_list =[]

for t in L:
    key_list.append(t[0])   # 자세하지만 느림
    val_list.append(t[1])

key_list[np.argmax(np.array(val_list))]

'yellow'

In [23]:
key_list =[]
val_list =[]

val_max =0

for t in L:
    key_list.append(t[0])   # 복잡하고 느림
    val_list.append(t[1])
    
    val = t[1]
    if val_max <= val: 
        val_max = val

key_list[val_list.index(val_max)]

'yellow'

######  ---