## 파이썬 기초

---

In [1]:
print('pyton, java')

pyton, java

In [77]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:65% !important; }</style>"))

In [39]:
# 변수 : 그릇 (빈 그릇) -  컴퓨터 안에서 데이터를 담는 그릇  - 데이터를 처리할 때도 변수에 담아서 처리..

In [29]:
# '=' : 변수(그릇)에 데이터를 담아라
# '==' : 두 개의 변수에 담긴 데이터의 값은 같다..
# '=!' : 값이 동일하지 않다
# > 왼쪽 값이 오른쪽 값보다 크다	(a > b) → false
# < 왼쪽 값이 오른쪽 값보다 작다	(a < b) → true
# >= 왼쪽 값이 오른쪽 값보다 크거나 동일하다	(a >= b) → false
# <= 왼쪽 값이 오른쪽 값보다 작거나 동일하다	(a <= b) → true

In [30]:
# int a : 일반언어에서 변수를 먼저 선언..  다른언어와 반대

a = 10  # "=" 사용하는 순간 왼쪽이 변수가 되고, 값이 변수에 저장...  b = 'python'

print(a)

10

In [31]:
print(b) # error

NameError: name 'b' is not defined

# 정수 설명

- 변수에 데이터를 할당.. : 데이터가 할당되는 순간에 변수가 동시에 생성..
- 파이썬에 존재하는 데이터의 종류는 단 7가지 뿐 : str, int, float, list, set, tuple, dictionary
- int와 float 차이는  뒤에 수소점이 있느냐 없느냐의 차이.

- a = 'hello python'  # 문자열 파이썬의 내장 함수 str()은 정수나 실수를 문자열 형태로 바꿔주는 함수이다.

- b = 125   # 정수(integer, 줄여서 int)는 자연수에 음양 부호(+, -)가 붙은 것이다. 비트 하나로 부호를 표현하고, 여러 개의 비트 묶음으       자연수를 표현한다  파이썬에서 소수점 없이 입력된 수, 즉 0, -15 같은 표현은 모두 정수다. 파이썬에서 소수점 없이 입력된 수, 즉 0,     15 같은 표현은 모두 정수다

- c = 1053.7  # 실수 float 동소수점 수(floating point number, 줄여서 float)라는 데이터 유형으로 실수를 다룬다. 부동소수점 수는 '소수   점이 움직이는 수'라는 뜻이다.

- d = [1,2,3,4]   # list (자료들을 목록 형태로 관리하는 자료형) 리스트의 이름 =[요소1,요소2..]
  인덱싱/슬라이싱 사용가능 수정가능

- e = {'a', 'b','c'}   # set (집합의 원소들을 표현하며 중복 값을 허용하지 않음) 집합의 이름 =[요소1,요소2..]
  인덱싱/슬라이싱 사용불가능  수정 가능

- f = ('a', 'b','c')   # tuple (리스트와 기능은 같지만 생성/삭제/수정 불가) 튜플의 이름 =[요소1,요소2..]
 인덱싱/슬라이싱 사용가능 수정 불가능

- g = {a:1, b:2, c:3}  # dictionary (사전처럼 이름(key)와 내용(value)를 연결 사전의 이름[key1:value,key2:value..]
 인덱싱/슬라이싱 사용불가 수정가능

- h = True

In [32]:
print(a)

10

In [7]:
print(b)

125

In [8]:
print(c)

1053.7

In [9]:
print(d)

[1, 2, 3, 4]

In [10]:
print(e)

{'a', 'b', 'c'}

In [11]:
print(f)

('a', 'b', 'c')

In [12]:
print(g)

{'hello python': 1, 125: 2, 1053.7: 3}

In [38]:
print(f)

True

In [14]:
a = 12
b = 3

a * b

36

In [ ]:
# (), [], {}
# 함수이름() => 함수

In [15]:
print('hello')

hello

In [ ]:
print(매개변수)   # 매개변수를 화면에 출력
input()  # 값을 사용자에게 받을 때 사용하는 함수..

In [17]:
x  = input('임의의 숫자를 입력하세요..')
print('당신이 입력한 값은 :', x)

임의의 숫자를 입력하세요..10
당신이 입력한 값은 : 10

In [18]:
a  # 변수는 덮어써진다..

12

In [ ]:
#  type(x) : 변수에 담긴 값의 데이터타입을 알려준다.. 변수의 데이터타입을 리턴

In [19]:
type(a)

int

In [20]:
type(b)

int

In [21]:
type(c)

float

In [22]:
type(f)

tuple

In [23]:
type(d)

list

In [131]:
age = input('나이를 입력하세요')  # input함수로 데이터를 받으면 모두 str형식으로 저장..
print('당신의 나이 :', age)
type(age)

나이를 입력하세요36
당신의 나이 : 36

str

In [129]:
# 만 나이를 계산해서 출력, 만 나이 = 한국나이 -1

age = input('나이를 입력하세요')
int_age = age - 1
print('당신의 만 나이는 :', int_age)

나이를 입력하세요36

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [130]:
# 형변환 함수

# 만 나이를 계산해서 출력, 만 나이 = 한국나이 -1
# int(매개변수) : 매개변수를 숫자로 데이터타입을 변환하는 함수

age = int(input('나이를 입력하세요'))
int_age = age - 1
print('당신의 만 나이는 :', int_age)

나이를 입력하세요36
당신의 만 나이는 : 35

### 산술연산

   

1.더하기 +
 
2.빼기 -

3.곱하기 *

4.나누기 /

5.나머지 %

6.몫 //

7.거듭제곱 **

---

In [33]:
a = 2
b = 5

In [32]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a // b)
print(b%a)

7
-3
10
0.4
32
0
1

In [ ]:
# 비교연산 : 결과가 True, False로 나옴 (boolean type)
# >, >=. <. <=, ==, !=

In [33]:
a = 10
b = 15
c = 5

In [34]:
a < b

True

In [35]:
a != b

True

In [36]:
a == b

False

In [39]:
# 논리연산 => and, or, not

# and : 전부 True인 경우만 True 연산
# or : 하나만 True이면 True로 연산
# not : True이면 False로 Flase이면 True로 변환

In [40]:
a = True
b = False
c = True

In [41]:
a and b

False

In [42]:
a or b

True

In [43]:
a and c

True

In [44]:
not a

False

In [45]:
not b

True

In [ ]:
# 기본 함수..

# abs(x) : 절대값을 리턴
# divmode(x, y) 매개변수로 두 숫자를 입력 받아 첫번째 인자를 두번째 인자로 나눈 몫과 나머지를 tuple 형식으로 반환한다.  
# pow(x, y) 제곱(거듭제곱) / pow 함수는  두 가지가 존재 파이썬 내장 함수에 정의된 pow()가 있고 math 라이브러리에 정의된 math.pow() 함수가 있다.
# pow(a, b) : a의 b제곱을 계산해서, 반환하는 함수

In [46]:
abs(-3)

3

In [48]:
divmod(4,2)

(2, 0)

In [49]:
pow(2, 3)

8

In [ ]:
# 임의의 값을 입력받은 후 그 값의 데이터타입을 출력..
# "당신이 입력한 데이터의 타입은 :  문자열"

In [51]:
data = input('임의의 값을 입력하세요')
print('당신이 입력한 데이터의 타입은 :', type(data))

임의의 값을 입력하세요50
당신이 입력한 데이터의 타입은 : <class 'str'>

# DataType
---

In [52]:
# * 단일 데이터타입 - 원소가 개별 하나
# 1. int(정수)
# 2. float(실수)

# * 군집형 데이터 타입 - 여러개의 원소가 묶여서 하나의 데이터를 구성
# 3. string(문자열) - '', " ", """ ~ """
# 4. list(리스트) - []
# 5. tuple(튜플) - ()
# 6. set(셋) - {}
# 7. dictionary(딕셔너리) -{a:b}

# 8. boolean - True, False

1. string (문자열)
- 원소별 순서 number가 할당 -> index -> 원소의 주소값
- 항상 0부터 시작
- 역순으로 index가 붙는데, -1부터 시작한다..
---

In [54]:
text = 'hello python'
type(text)

str

In [56]:
num = '56'
type(num)

str

In [57]:
text = 'hello python'

In [58]:
text[3]

'l'

In [59]:
text[4]

'o'

In [60]:
text[5]

' '

In [61]:
text = 'python programming'

In [62]:
text[-3]

'i'

In [ ]:
# slicing : start index와 end index를 지정해서 그 범위에 해당하는 원소들을 가져오는 => :
# [start_index : end_index : step]
# python에서 indexing할 때, 마지막 index의 해당하는 값은 가져오지 않는다..

In [65]:
text[2:4]

'th'

In [67]:
text[7:10]

'pro'

In [68]:
# ing

In [69]:
text

'python programming'

In [70]:
text[15:20]

'ing'

In [74]:
text[-3:-1]

'in'

In [75]:
text[-3:]

'ing'

In [76]:
text[:6]

'python'

In [78]:
text[1: 10: 2]

'yhnpo'

In [79]:
# 문자열 : ' ', " ", """ """

In [81]:
# '\' : '\' 하고 줄바꿈하면 파이썬이 한 줄로 인식한다
text = 'hello python \
hello world'

In [ ]:
# 여러 줄을 string으로 만들 때, => ''' ''', """ """

In [82]:
text = '''hello 
world
python 
programming'''

text

'hello \nworld\npython \nprogramming'

In [85]:
text = " hello world "python" world"
text

SyntaxError: invalid syntax (264935862.py, line 1)

In [84]:
text = " hello world 'python' world"
text

" hello world 'python' world"

In [86]:
text = ' hello world "python" world'
text

' hello world "python" world'

In [ ]:
# '+' : 두 문자열을 연결
# '*' : 문자열 반복..
# in : 군집데이터에서 특정 원소가 포함되어 있는지
# len()  : sequence(군집데이터)의 원소의 갯수

In [87]:
a = 'hello'
b = 'world'

In [88]:
a + b

'helloworld'

In [89]:
a * 3

'hellohellohello'

In [90]:
'h' in a

True

In [91]:
's' in a

False

In [92]:
len(a)

5

In [93]:
's' not in a

True

In [94]:
text

' hello world "python" world'

In [96]:
# 문자열 데이터에서는 원소를 수정 삭제 추가가 안 됨
# 문자열 안에 새로운 텍스트를 삽입 => format()

text[7] = 's'

TypeError: 'str' object does not support item assignment

In [ ]:
data = input('임의의 값을 입력하세요')
print('당신이 입력한 데이터의 타입은 :', type(data))

# => 당신이 입력한 데이터의 타입은 000입니다.

In [37]:
data = input('임의의 값을 입력하세요')
print('당신이 입력한 데이터의 타입은 {}입니다'.format(type(data)))

임의의 값을 입력하세요36
당신이 입력한 데이터의 타입은 <class 'str'>입니다

In [36]:
gender = input('성별를 입력하세요')
age = input('나이를 입력하세요')

print('당신의 나이는 {}이고 성별은 {}입니다'.format(age, gender))

성별를 입력하세요남
나이를 입력하세요36
당신의 나이는 36이고 성별은 남입니다

In [35]:
gender = input('성별를 입력하세요')
age = input('나이를 입력하세요')

print('당신의 나이는 %s이고 성별은 %s입니다'%(age, gender))

성별를 입력하세요남
나이를 입력하세요36
당신의 나이는 36이고 성별은 남입니다

In [103]:
text

' hello world "python" world'

In [104]:
text.upper()

' HELLO WORLD "PYTHON" WORLD'

In [105]:
text.lower()

' hello world "python" world'

In [106]:
text.title()

' Hello World "Python" World'

In [ ]:
# split() : 문자열을 space기준으로 나누어서 list에 담는다

In [108]:
text

' hello world "python" world'

In [110]:
text.split()

['hello', 'world', '"python"', 'world']

In [109]:
L = text.split()

In [111]:
L

['hello', 'world', '"python"', 'world']

In [ ]:
# join()함수 : 리스트를 이어서 문자열을 만든다..

In [112]:
" ".join(L)

'hello world "python" world'

In [ ]:
# 특정 원소가 몇 개 존재하는지..

In [114]:
text.count('o')

4

In [117]:
text.count('l')

4

In [ ]:
# 특정원소가 몇 번째 인덱스에 있는지..

In [119]:
text.find('l')

3

In [120]:
text.find('x')

-1

### 2.List
---
- 주석다는법: 비주얼코드랑 같음
- 형태:[...],  text[6] <-- 주소  [abc] <- 리스트 [a,b,c,] 원소
- 원소의 수정 , 추가 , 삭제가 자유
- 순번 인덱스가 붙는다. (0, 1, 2..) 역순 인데스일때 ( 1,-2..)
- .slicing :.[st index: end index :(step)[건너뛰기]ex:2는 한칸], 마지막 인덱스의 값은 제외한다. ex (1:4가져오고 싶으면 하나+ 1:5)
- 건너뛰어서 가져오는법 ex(3:6:2) 뒤에 :붙이고 숫자
- 리스트의 길이: len() 
- find(),count(), in..
- 원소 : 모든 데이터, 함수, 대부분의 객체
---

In [8]:
# string type은 원소의 수정 삭제 추가가 안된다.
txt = 'hello python'
txt[-6] = 's'

TypeError: 'str' object does not support item assignment

In [8]:
score = [80, 90, 75, 88, 92]

In [9]:
score

[80, 90, 75, 88, 92]

In [11]:
score = ['a', '가', 123, 10.5]

In [12]:
score

['a', '가', 123, 10.5]

In [14]:
score = [80, 90 ,75 ,88 ,92]

In [17]:
score[2]

100

In [19]:
score[2] =100
score

[80, 90, 100, 88, 92]

In [20]:
score[1:4]

[90, 100, 88]

In [22]:
score = [45, 21 ,45 ,87 ,56 ,35, 21, 58, 96, 21, 45]

In [23]:
score[:3]

[45, 21, 45]

In [24]:
score[-4:]

[58, 96, 21, 45]

In [25]:
score[:7]

[45, 21, 45, 87, 56, 35, 21]

In [26]:
score[2:9:2]

[45, 56, 21, 96]

In [30]:
L = [1,3,5,7,9]
M = [2,4,6,8]
L + M

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [27]:
txt1 = 'hello python'
txt2 = 'hello world'
txt1 + txt2 #텍스트 이어주기

'hello pythonhello world'

In [32]:
L *3

[1, 3, 5, 7, 9, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

In [33]:
txt1 *3

'hello pythonhello pythonhello python'

In [34]:
5 in L

True

In [35]:
len(L)

5

In [36]:
len(txt1)

12

In [ ]:
# packing / unpacking

In [40]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [ ]:
# a* -> 가변변수 : 여러값을 저장할수 있는 변수

In [127]:
L = [1,2,3,4,5]
a, *b = L
print(a)
print(b)

1
[2, 3, 4, 5]

In [132]:
a = L[0]
b = L[1:]

print(a)
print(b)

1
[2, 3, 4, 5]

In [78]:
L = [8,8,7,5,1,2,5]

# 리스트 주요 함수!

#내장함수

sum() - (평균값) 합집합 / 인자 : iterable한 자료형을 받으며 numeric 해야합니다. 
즉, 리스트나 튜플 처럼 인덱스 순환 접근이 가능한 자료형이고 내부에 숫자로만 이루어져 있어야합니다. 
여기서 숫자는 정수, 실수 둘다 가능입니다
반환형 : 인자로 들어온 iterable 내부 모든 요소의 합

max() - 인수로 받은 자료형 내에서 최대값을 찾아서 반환하는 함수(iterable 데이터 타입을 인자로 받아서 그중 가장 값이 큰 것을 반환하는 함수이며) 기본형 : max(iterable)  매개변수 : 반복이 가능한 자료형 반환형 매개변수출처 로 들어온 인자 내부에서 제일 큰 값을 반환합니다

응용형 : max(iterable1, iterable2, ...)매개변수 : 반복이 가능한 자료형 '들'반환형 : 매개변수로 들어온 반복이 가능한 인자들 중에 가장 큰 데이터를 반환합니다.

min() - 인수로 받은 자료형 내에서 최소값을 찾아서 반환하는 함수  
기본형 : min(iterable)  매개변수 : 반복이 가능한 자료형 반환형 : 매개변수로 들어온 인자 내부에서 제일 작은 값을 반환합니다.
 
응용형 : min(iterable1, iterable2, ...)매개변수 : 반복이 가능한 자료형 '들'반환형 : 매개변수로 들어온 반복이 가능한 인자들 중에 가장 작은 인자(덩어리)을 반환합니다.
여기서 반환형은 iterable1내부에 가장 작은 값이 아니라, iterable1 과 iterable2 중에 작은걸 반환한다는 것 입니다.

sorted() - 올림차순 정렬, 원본을 바꾸지 않고 결과만 바꿔줌(리턴)
len() - 원소의 길이
append() - 리스트의 맨 끝에 새로운 원소를 추가할때 사용
clear() - 원소를 지우는것
copy() - 리스트 복사
count() - 특정 원소의 갯수
extend() - 리스트를 연결 ('+')
index() - 특정 원소에  위치(index)값을 리턴  리스트에서 특정 원소의 인덱스를 찾아주는 함수 문자열에서도 인덱스를 찾을 수 있음
중복된 원소가 있으면 가장 작은 인덱스를 리턴
insert() - 특정 위치에 값을 추가할때
pop() - 특정 위치의 값을 제거할때 (인데스값)을 제거remove() - 특정 데이터를 제거(위치값) 데이터 자체를 제거
reverse() - 순서를 반대로 바꾸는것
sort() - 올림차순 정렬, 원본을 바꾸지만 결과는 리턴하지않음 그대로
in 값에 존재를 확인
not in  값에 존재가 없는지 확인
값을 이어줄때 + ex: sol + sol1
del - 완전 삭제

---

In [6]:
# find( ) 차이점

# 찾는 문자가 없는 경우에 -1을 출력한다.

# 문자열을 찾을 수 있는 변수는 문자열만 사용이 가능하다.  리스트, 튜플, 딕셔너리 자료형에서는 find 함수를 사용할 수 없다. 만일 사용하게 되면 AttributeError 에러가 발생한다.


#2-2) index( ) 차이점

# 찾는 문자가 없는 경우에 ValueError 에러가 발생한다.

# 문자열, 리스트, 튜플 자료형에서 사용 가능하고 딕셔너리 자료형에는 사용할 수 없어 AttributeError 에러가 발생한다.

In [79]:
len(L)

7

In [80]:
sum(L)

36

In [81]:
max(L)

8

In [82]:
min(L)

1

In [83]:
sorted(L) # 정렬한 결과값을 리턴

[1, 2, 5, 5, 7, 8, 8]

In [84]:
L # 원본은 반영이 안 됨.

[8, 8, 7, 5, 1, 2, 5]

In [85]:
L.sort() # 결과를 리턴하지않음

In [86]:
L # 원본을 바꿈

[1, 2, 5, 5, 7, 8, 8]

In [87]:
L = []
L

[]

In [90]:
L = list()
L

[]

In [5]:
# append() - 맨 뒤로 추가..

L.append('a')
L.append(13)
L.append(1.5)
L.append(['a','b','c'])
L

[1, 3, 5, 7, 9, 'a', 13, 1.5, ['a', 'b', 'c']]

In [6]:
# insert(인덱스,데이터 - 특정 위치에 데이터 추가)
# index = 위치값 = 주소

L.insert(1, '가방')
L

[1, '가방', 3, 5, 7, 9, 'a', 13, 1.5, ['a', 'b', 'c']]

In [7]:
L.index(1.5)

8

In [8]:
L.append('가방')
L

[1, '가방', 3, 5, 7, 9, 'a', 13, 1.5, ['a', 'b', 'c'], '가방']

In [12]:
L.count('가방')

2

In [14]:
L = [2,3,5,6,7,5,4,8]

In [15]:
L.sort()
L

[2, 3, 4, 5, 5, 6, 7, 8]

In [16]:
L.reverse()  # 순서를 바꾼다..
L

[8, 7, 6, 5, 5, 4, 3, 2]

In [18]:
L.pop(3) # 인덱스 기준 삭제
L

[8, 7, 6, 5, 4, 3, 2]

In [19]:
L.remove(4) #데이터값 기준 삭제

In [20]:
L

[8, 7, 6, 5, 3, 2]

In [21]:
L1 = ['a','b','b','d']
L2 = ['가','나','다','라']
L1 + L2

['a', 'b', 'b', 'd', '가', '나', '다', '라']

In [22]:
L1.extend(L2) # L1에 L2를 추가 / L1이 바뀐다.
L1

['a', 'b', 'b', 'd', '가', '나', '다', '라']

In [24]:
L1.clear() #삭제 완전 삭제 x (리스트는 남음 []) 완전 삭제는 del
L1

[]

In [2]:
L = [1,3,5,7,9]
id(L) # id(): 컴퓨터 메모리 상의 물리적 주소

2297894462848

In [3]:
M = L #L이라는 리스트를 M이라는 변수에 저장

In [4]:
id(M)

2297894462848

In [5]:
id(M)

2297894462848

In [6]:
M = L.copy()
id(M)

2297866315904

### list example
---

In [2]:
sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']
sol1 = ['토성','천왕성','해왕성']

In [3]:
# sol에서 ['수성','금성','지구']를 출력하시오.
sol[1:4]

['수성', '금성', '지구']

In [4]:
# sol에서 ['해왕성','지구']를 가져오시오.
sol[-2:]

['해왕성', '지구']

In [5]:
# sol에서 홀수 인덱스 값을 모두 가져오시오.
sol[1:20:2]

['수성', '지구', '목성', '천왕성', '지구']

In [6]:
# '화성'을 출력하시오.
idx = sol.index('화성')
sol[idx]

'화성'

In [7]:
# '지구'의 인덱스 값을 출력
sol.index('지구')

3

In [8]:
# sol 맨 뒤에 '해왕성'을 삽입하시오
sol.append('해왕성')
sol

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구', '해왕성']

In [9]:
# 3번 인덱스의 값을 삭제하시오.
sol.pop(3)
sol

['태양', '수성', '금성', '화성', '목성', '토성', '천왕성', '해왕성', '지구', '해왕성']

In [10]:
# '토성'을 삭제하시오.
sol.remove('토성')
sol

['태양', '수성', '금성', '화성', '목성', '천왕성', '해왕성', '지구', '해왕성']

In [11]:
# sol.remove('수성')
# sol.remove(sol[1]) 다른방식 삭제 결과는 둘다 같음

In [12]:
sorted(sol) #solt

['금성', '목성', '수성', '지구', '천왕성', '태양', '해왕성', '해왕성', '화성']

In [13]:
# sol '달'이 있는지 확인하시오
'달' in sol #데이터 존재확인 in

False

In [14]:
'달' not in sol #데이터가 없는지 확인 not in

True

In [15]:
#sol의 길이를 구하시오.
len(sol)

9

In [16]:
sol

['태양', '수성', '금성', '화성', '목성', '천왕성', '해왕성', '지구', '해왕성']

In [17]:
# 해왕성이 몇 번 포함 되어 있는지 확인하시오.
sol.count('해왕성')

2

In [18]:
# sol과 sol1을 이으시오.
sol + sol1

['태양', '수성', '금성', '화성', '목성', '천왕성', '해왕성', '지구', '해왕성', '토성', '천왕성', '해왕성']

In [19]:
# sol에 sol1을 이어 붙이시오.
sol.extend(sol1)
sol

['태양', '수성', '금성', '화성', '목성', '천왕성', '해왕성', '지구', '해왕성', '토성', '천왕성', '해왕성']

In [20]:
# sol의 원소를 모두 지우시오.
sol.clear()
sol # 빈 리스트 출력됨 [] 완전 삭제는 X

[]

In [21]:
del sol # 완전 삭제

In [22]:
sol.pop(-1) # 삭제해서 안뜸

NameError: name 'sol' is not defined

In [23]:
sol # 완전 삭제로 안뜸

NameError: name 'sol' is not defined

In [24]:
listdata = [1,2, 'a','b','c',[4,5,6,]]

In [25]:
# 'a'와 'c' 를 출력하시오
listdata[2:5:2]

['a', 'c']

In [26]:
# 5를 출력하시오..
listdata[5][1] # 숫자5번에 1번을 가져오라는 뜻

5

In [27]:
# [4,5]를 출력하시오
listdata[5][0:2] # 숫자 5번을 가져오는데 한칸띄워서 4까지 가져오라
listdata[5][:2] #같은뜻 5번에서 한칸뒤숫자까지 가져와라

[4, 5]

In [28]:
# 5번 인덱스에 있는 리스트를 최대값,최소값,평균값 오름차순 정렬해서 출력하세요.
print(max(listdata[5])) 
print(min(listdata[5])) 
print(sum(listdata[5])/len(listdata[5]))
print(sorted(listdata[5]))

6
4
5.0
[4, 5, 6]

In [29]:
import numpy as np
np.mean(listdata[5])

5.0

In [30]:
sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']

# 행성의 이름을 입력받은 후 sol에 존재하면 해당 행성의 인덱스 주소값을 출력하고, 없으면 에러를 리턴하시오..

name = input('행성의 이름을 입력하세요')
sol.index(name)

행성의 이름을 입력하세요목성

5

In [31]:
# sol의 순서를 내림차순으로 정렬하세요.

sorted(sol, reverse=True)

['화성', '해왕성', '토성', '태양', '천왕성', '지구', '지구', '수성', '목성', '금성']

In [32]:
# sol의 순서를 반대로 바꾸시오.
sol.reverse()
sol

['지구', '해왕성', '천왕성', '토성', '목성', '화성', '지구', '금성', '수성', '태양']

In [33]:
# 형변환 함수

text = 'hello python'
list(text)

['h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [34]:
sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']

# 행성의 이름을 입력받은 후 sol에 행성이 존재하면,
# => "[행성이름]은 [몇 번째] 인덱스에 존재합니다"

# 존재하지 않으면
# => "[행성이름]은 sol에 존재하지 않습니다.."

nam = input('행성의 이름을 입력하세요')

if nam in sol:
    idx = sol.index(nam)
    text= "{}은 {} 인덱스에 존재합니다".format(nam, idx)
    
else:
    text = "{}은 sol에 존재하지 않습니다".format(nam)

print(text)

행성의 이름을 입력하세요구성
구성은 sol에 존재하지 않습니다

In [35]:
sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']

# 행성의 이름을 입력받은 후 sol에 행성이 존재하면,
# => "[행성이름]은 [몇 번째] 인덱스에 존재합니다"

# 존재하지 않으면
# => "sol의 맨 뒤에 행성이름을 추가하시오"
# => 그리고 sol을 출력하시오..

nam = input('행성의 이름을 입력하세요')

if nam in sol:
    idx = sol.index(nam)
    text= "{}은 {} 인덱스에 존재합니다".format(nam, idx)
    print(text)
    
else:
    sol.append(nam)
    print('{}은 sol에 없으므로 맨 마지막에 추가하였습니다..'.format(name))
    print('=>>', sol)

행성의 이름을 입력하세요구성
목성은 sol에 없으므로 맨 마지막에 추가하였습니다..
=>> ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구', '구성']

In [36]:
# 행성의 이름을 입력받은 후 sol에서 입력받은 행성 바로 다음의 행성의 출력하시오..

sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']

nam = input("sol 안에 있는 행성의 이름을 입력하세요..")
idx = sol.index(nam) + 1
sol[idx]

sol 안에 있는 행성의 이름을 입력하세요..목성

'토성'

In [38]:
# 행성의 이름을 두 개 입력받은 후 sol에서 첫 번째 행성은 삭제하고 두 번째 행성은 마지막에 추가하시오...

sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']

nam = input("sol 안에 있는 행성의 이름과 없는 행성의 이름을 각각 입력하세요..")

nam1 = nam.split()[0]
nam2 = nam.split()[1]

sol.remove(nam1)
sol.append(nam2)

sol

sol 안에 있는 행성의 이름과 없는 행성의 이름을 각각 입력하세요..태양 구성

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구', '구성']

In [40]:
# 행성의 이름을 두 개 입력받은 후 sol에서 첫 번째 행성은 삭제하고 두 번째 행성은 마지막에 추가하시오...

sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']

nam1 = input("sol 안에 있는 행성의 이름을 입력하세요..")
nam2 = input("sol 안에 없는 행성의 이름을 입력하세요..")

sol.remove(nam1)
sol.append(nam2)

sol

sol 안에 있는 행성의 이름을 입력하세요..수성
sol 안에 없는 행성의 이름을 입력하세요..자성

['태양', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구', '자성']

In [41]:
# 행성의 이름을 두 개 입력받은 후 sol에서 첫 번째 행성은 삭제하고 두 번째 행성은 삭제한 행성자리에 입력하시오...

sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']

sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']

nam1 = input("sol 안에 있는 행성의 이름을 입력하세요..")
nam2 = input("sol 안에 없는 행성의 이름을 입력하세요..")

idx = sol.index(nam1)

sol.pop(idx)
sol.insert(idx, nam2)

sol

sol 안에 있는 행성의 이름을 입력하세요..지구
sol 안에 없는 행성의 이름을 입력하세요..조성

['태양', '수성', '금성', '조성', '화성', '목성', '토성', '천왕성', '해왕성', '지구']

In [42]:
# sol에서 맨 뒤에있는 요소를 맨 앞으로, 제일 앞에 있는 요소를 맨 뒤고 자리를 바꾸시오..

sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']
print(sol)

st = sol[0]
ed = sol[-1]

sol.remove(st)
sol.remove(ed)

sol.insert(0, ed)
sol.append(st)

print(sol)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']
['지구', '수성', '금성', '화성', '목성', '토성', '천왕성', '해왕성', '지구', '태양']

In [43]:
# sol에서 맨 뒤에있는 요소를 맨 앞으로, 제일 앞에 있는 요소를 맨 뒤고 자리를 바꾸시오..

sol = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']
print(sol)

st = sol.pop(0)
ed = sol.pop(-1)

sol.insert(0, ed)
sol.append(st)

print(sol)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']
['지구', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '태양']

In [44]:
# 짝수 인덱스 원소들의 합과 홀수 인덱스 원소들의 합을 비교하여 짝수 인덱스의 합이 더크다는 주장을 검증하시오
listdata = [2,3,4,2,21,4,6,]

even_list = listdata[0:20:2]
odd_list = listdata[1:20:2]

sum(even_list) > sum(odd_list)

True

In [45]:
listdata[2] = 1000
listdata

[2, 3, 1000, 2, 21, 4, 6]

### data type
#int      
#float   [단일형식] data type

#str       
#list
#tuple       [군집형원소] data type -> 순번(인덱스)
#set         (원소가 다수)
#dict

#bool   [참,거짓 (True,false]

## 3.tuple

- (...)
- list : 요소의 수정,추가,삭제가자유. string:x , tuple : X
- 요소의 수정, 추가 삭제가 불가능
- 인덱스(순번,주소)가 있음 순서가 존재 ex(mytuple = ('1.tuple', 2.(1,2,3), 3.[4,5,6,7], 4. '7','8','9')
---

In [4]:
L = (1,3,5,7,9)
M = (2,4,6,8)

In [5]:
type(L)

tuple

In [6]:
L + M

(1, 3, 5, 7, 9, 2, 4, 6, 8)

In [7]:
len(L)

5

In [8]:
L[1] = 100 # 원소의 수정 삭제가 추가가 불가능

TypeError: 'tuple' object does not support item assignment

In [9]:
L.index(5)

2

In [11]:
L.count(3)

1

In [47]:
a = 1
b = 2
c = 3

a=1; b=2; c=3

a, b, c = 1, 2, 3

In [126]:
#################################

## 4. SET (집합)
1. 집합: {}
2. 여러원소(데이터) 존재
3. 순번(인덱스,주소)가 없다
4. 데이터의 중복을 허용하지 않는다.
5. 집합연산 : 교집합,합집합,차집합,여집합..등등
---

##### 용어

- add 집합의 원소를 추가한다
- clear 공집합으로 만든다(리스트삭제)
- copy 집합을 복사
- discard 집합에서 원소를 삭제한다. 없는 원소를 삭제하려고 할 때에도 에러를 발생하지 않는다.(remove와 비교)
- pop 집합의 임의의 원소를 삭제(랜덤) 잘 사용하지 않음
- remove 집합에서 원소를 삭제한다. 없는 원소를 삭제하려고하면 에러 (리스트 remove랑 같음)
- frozenset 변경 불가능한 집합 <br>
---
- 합집합 교집합 차집합 대칭차집합
---

In [38]:
s = {1, 2, 5,}

In [39]:
s.add(3)
s

{1, 2, 3, 5}

In [40]:
type(s)

set

In [41]:
s.add(5)  # set 은 중복을 허용하지 않음. 유일한 값만 가지고있다. 그래서 변화가없음
s

{1, 2, 3, 5}

In [42]:
s.remove(5)
s

{1, 2, 3}

In [43]:
s.discard(3)
s

{1, 2}

In [44]:
s.add(100)
s

{1, 2, 100}

In [45]:
len(s)

3

In [46]:
100 in s

True

In [47]:
99 in s

False

In [48]:
s

{1, 2, 100}

In [49]:
s.pop() #랜덤하게 한 원소를 제거 (가챠)

1

In [50]:
s

{2, 100}

In [51]:
s.clear()

In [58]:
s

set()

In [59]:
# 집합연산

In [63]:
a = {1, 3, 5, 7}
b = {1, 2 ,4, 6, 7, 8}

In [64]:
a.union(b) # 합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [65]:
a.intersection(b) # 교집합

{1, 7}

In [66]:
a.difference(b) #차집합

{3, 5}

In [69]:
a.symmetric_difference(b) #교차차집합 : 합집합 - 교집합

{2, 3, 4, 5, 6, 8}

In [70]:
a.isdisjoint(b) # 서로소 여부 확인 - 교집합이 0인 집합인지 여부 확인 (겹쳐지는 데이터가 없으면 서로소 )

False

In [71]:
a.issuperset(b) # a가 b를 포함하는지 확인

False

In [72]:
a.issubset(b) # a가 b의 부분집합인지

False

### 5. dictionary
1. {key:value 키 : 밸류가 항상 쌍으로.. }
2. 순번(순서개념)이 없다. => 인덱스가 없다.
3. 인덱스 역할을 하는게 -> key
4. 값을 역할을 하는게 - > value
5. javascript의 Json과 동일한 구조
---

##### 요소가 없는 군집형 데이터 만들기
- L = L   L = list() 빈리스트
- string: ',str() (문자열) 만들기
- set = {} 빈 set 혹은() 방법 두개지만 원소가없는 set 만들떈 항상 ()
- #dictionary: dict = {} 빈 dict 혹은 dict()
---

In [78]:
d ={'one':1, 'two':2, 'three':3}

In [79]:
type(d)

dict

In [80]:
d['one']

1

In [81]:
d['two']

2

In [83]:
d['four'] = 4
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

###### pop,len,in not in
---

In [100]:
mydict = {}

mydict['math'] =95
mydict['eng'] = 88
mydict['kor'] = 75
mydict

{'math': 95, 'eng': 88, 'kor': 75}

In [101]:
mydict['kor'] = 95
mydict

{'math': 95, 'eng': 88, 'kor': 95}

In [102]:
mydict.pop('eng')
mydict

{'math': 95, 'kor': 95}

In [103]:
len(mydict)

2

In [104]:
'math' in mydict

True

In [125]:
'moon' in mydict

False

###### get
---

In [105]:
mydict['red'] = 5
mydict['blue'] = 7
mydict

{'math': 95, 'kor': 95, 'red': 5, 'blue': 7}

In [106]:
mydict['kor']

95

In [107]:
mydict.get('kor')

95

In [108]:
mydict['yellow'] # error 없는 key 요청시는 에러

KeyError: 'yellow'

In [ ]:
mydict.get('yellow') # 없는 데이터를 요청할때는, 에러가 발생하지 않음.

In [109]:
mydict.get('yellow',-1) # 없는 키를 요청할때, 다른값을 출력.

-1

###### keys,values,items
---

In [110]:
mydict

{'math': 95, 'kor': 95, 'red': 5, 'blue': 7}

In [111]:
mydict.keys() # 키만볼때

dict_keys(['math', 'kor', 'red', 'blue'])

In [112]:
mydict.values() #밸류값만 볼때

dict_values([95, 95, 5, 7])

In [113]:
mydict.items() # 전체볼때

dict_items([('math', 95), ('kor', 95), ('red', 5), ('blue', 7)])

###### setdefault
---

In [114]:
mydict.setdefault('math') # 키가 있으면 값을 리턴 보여줌

95

In [116]:
mydict.setdefault('yellow', 77) # 없는 키를 호출하면서 값을 입력하면 key : value 로 추가가 됨

77

In [120]:
mydict

{'math': 95, 'kor': 95, 'red': 5, 'blue': 7, 'yellow': 77}

###### update
---

In [124]:
color = {'red':1, 'blue':3} 
color1 = {'yellow':2}

color.update(color1) # 위 두개의 데이터값을 합친다.
color

{'red': 1, 'blue': 3, 'yellow': 2}

In [1]:
name = {'mary':10999, 'sams':2111, 'aimy':9788, 'tom':3024, 'miderel':54762, \
        'kelley':7895}

In [5]:
name = {'mary':10999, 'sams':2111, 'aimy':9788, 'tom':3024, 'miderel':54762, \
        'kelley':7895}

# 1. 'aimy'의 값을 출력
print(name['aimy'])
# 2. 'aimy'의 값을 2500으로 수정
name['aimy'] = 2500
print(name)
# 3. 'tom'의 값을 삭제
name.pop('tom')
print(name)
# 4. key값들만 출력
print(name.keys())
# 5. value들의 합을 계산
print(sum(name.values()))
# 6. key를 입력받은 후 해당 key의 value를 출력. 단, 오류를 발생시키지 마시오
key = input('key를 입력하세요')
print(name.get(key))
# 7. 'jane'의 값을 10000으로 name에 추가..
name['jane'] = 10000
print(name)
# 8. key를 입력받은 후 있으면 그 값을 출력하고, 없으면 25000값으로 name에 추가
key = input('이름을 입력하세요')
name.setdefault(key, 25000)
print(name)

9788
{'mary': 10999, 'sams': 2111, 'aimy': 2500, 'tom': 3024, 'miderel': 54762, 'kelley': 7895}
{'mary': 10999, 'sams': 2111, 'aimy': 2500, 'miderel': 54762, 'kelley': 7895}
dict_keys(['mary', 'sams', 'aimy', 'miderel', 'kelley'])
78267
key를 입력하세요jelly
None
{'mary': 10999, 'sams': 2111, 'aimy': 2500, 'miderel': 54762, 'kelley': 7895, 'jane': 10000}
이름을 입력하세요jelly
{'mary': 10999, 'sams': 2111, 'aimy': 2500, 'miderel': 54762, 'kelley': 7895, 'jane': 10000, 'jelly': 25000}

In [14]:
# range() 함수

In [15]:
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
list(range(4, 10, 2))

[4, 6, 8]

In [17]:
list(range(4, 10, 3))

[4, 7]

In [7]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [4]:
list(range(10, 4, -2))

[10, 8, 6]

---
##### 형변환 함수
---

In [ ]:
v = '7' #문자열 
type(v)

In [ ]:
v1 = int(v) # 정수 형변환 함수
type(v1)

In [ ]:
v2 = float(v1) # 실수 형변환 함수
type(v2)

In [ ]:
a = 'hello'
type(a)

In [ ]:
b = list(a) #리스트로 형변환을 하는 함수
print(b)
type(b)

In [ ]:
c = tuple(a) # 튜플로 형변환 하는 함수
print(c)
type(c)

In [ ]:
d = set(a) # set으로 형변환하는 함수, / 중복값 제거
print(d)
type(d)

In [ ]:
dict(a) # key:value 구조가 아니여서 dict 으로 형변환은 불가능. 에러