# Python Test

In [24]:
# String Test

txt = 'A tale that was not right'

# 1. 'ale'을 출력하시오
txt[3:6]

# 2. 'A tale'을 출력
txt[0:6]
txt[:6]

# 3. 'not'을 출력
txt[-9:-6]
# txt.split()[-2]

# 4. txt를 소문자로 전환하시오
txt.lower()

# 5. txt를 대문자로 전환하시오
txt.upper()

# 6. 'o'가 몇 개 존재하는가
txt.count('o')

# 7. 'o'가 몇 번째 인덱스에 처음 등장하는가
txt.find('o')

# 8. 'txt'의 길이를 출력하시오
len(txt)

# 9. space를 기준으로 나누어서 리스트에 넣으시오
L = txt.split()
L
# 10. 위의 리스트를 '='기준으로 이어서 str로 바꾸시오
'='.join(L)

# 11. txt에 'right'가 존재하는지 확인하시오
'right' in txt

# 12. 'tale'을 'story'로 바꾸시오..
txt.replace('tale', 'story')

# 13. 이름을 입력받은 후 "[이름]님 환영합니다!!"라고 출력되도록 하시오
name = input('이름을 입력하세요')
# text = '{}님 환영합니다!!'.format(name)
text = '%s 환영합니다!!'%(name)
print(text)

이름을 입력하세요박철순
박철순 환영합니다!!

In [ ]:
# List Test

In [32]:
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

# 1. sol에서 ['수성','금성','지구']를 출력
print(sol[1:4])
# 2. sol에서 '지구' 인덱스를 출력
print(sol.index('지구'))
# 3. sol에서 '화성'을 '해왕성'으로 수정
sol[4] = '해왕성'
sol
# 4. sol에서 '수성'자리에 '명왕성' 삽입
sol.insert(1, '명왕성')
sol
# 5. sol에서 '토성'을 맨 끝에 삽입
sol.append('토성')
print(sol)
# 6. sol에서 맨 끝 요소를 삭제하고 리턴
sol.pop()
print(sol)
# 7. sol에서 '금성'을 제거
sol.remove('금성')
sol
# 8. sol에서 2번 인덱스 값을 제거
sol.pop(2)
print(sol)
# 9. sol에 sol1을 뒤에 이으시오
sol.extend(sol1)
print(sol)
# 10. sol을 내림차순으로 정렬하시오
print(sorted(sol, reverse=True))
# 11. sol을 올림차순으로 정렬하시오
print(sorted(sol))
# 12. '만리장성'이 있는지 확인하시오
print('만리장성' in sol)
print('천황성' in sol)
# 13. sol을 3번 반복하시오
print(sol * 3)
# 14. sol의 길이를 출력하시오
print(len(sol))
# 15. sol에 '지구'가 몇 개 포함되어 있는지 확인하시오.
print(sol.count('지구'))
# 16. sol 원소의 순서를 바꾸시오.
sol.reverse()
print(sol)
# 17. sol의 모든 원소를 지우시오
sol.clear()
print(sol)
# 18. sol 리스트를 제거하시오
del sol
print(sol)

['수성', '금성', '지구']
3
['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']
['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']
['태양', '명왕성', '지구', '해왕성', '목성', '지구']
['태양', '명왕성', '지구', '해왕성', '목성', '지구', '토성', '천황성', '해왕성']
['해왕성', '해왕성', '토성', '태양', '천황성', '지구', '지구', '목성', '명왕성']
['명왕성', '목성', '지구', '지구', '천황성', '태양', '토성', '해왕성', '해왕성']
False
True
['태양', '명왕성', '지구', '해왕성', '목성', '지구', '토성', '천황성', '해왕성', '태양', '명왕성', '지구', '해왕성', '목성', '지구', '토성', '천황성', '해왕성', '태양', '명왕성', '지구', '해왕성', '목성', '지구', '토성', '천황성', '해왕성']
9
2
['해왕성', '천황성', '토성', '지구', '목성', '해왕성', '지구', '명왕성', '태양']
[]

NameError: name 'sol' is not defined

In [47]:
# Tuple Test

mytuple = ('tuple', (1,2,3), [4,5,6,7], '7','8','9')

# 1. 'tuple'을 출력하시오
print(mytuple[0])
# 2. 3을 출력하시오
print(mytuple[1][2])
# 3. 4, 5를 출력하시오
print(mytuple[2][0:2])
print(mytuple[2][:2])
# 4. tuple의 길이를 출력하시오
print(len(mytuple))
# 5. '7'이 있는지 확인하시오
print('7' in mytuple)
# 6. '7' 값이 있으면 인덱스를 출력하시오
print(mytuple.index('7'))
# 7. '7'이 몇 번 있는지 확인하시오.
print(mytuple.count('7'))
# 8. 인덱스 2번의 값을 출력하시오
print(mytuple[2])
# 9. 인덱스 2번의 최대값, 최소값을 출력하시오
print(max(mytuple[2]), min(mytuple[2]))
# 10. 인덱스 1번을 내림차순 정렬하시오.
print(sorted(mytuple[1], reverse=True))

tuple
3
[4, 5]
[4, 5]
6
True
3
1
[4, 5, 6, 7]
7 4
[3, 2, 1]